[Unit]
Description=AC offline

[Service]
Type=oneshot
RemainAfterExit=yes

# set parameters for battery mode
ExecStart=/usr/bin/ac-offline true

# set parameters for AC mode
ExecStop=/usr/bin/ac-offline false
